<div class="row">
  <div class="col-md-6">
    <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://www.surveymonkey.com/r/scikit-image-pre">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/00_images_are_arrays.ipynb">Introduction & Images as NumPy arrays</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/1_image_filters.ipynb">Filters</a></td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/4_segmentation.ipynb">Segmentation</a></td></tr>
      <tr> <td>12:00</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/tour_of_skimage.ipynb">Tour of scikit-image</a></td></tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/advanced-numpy-patterns.ipynb">Advanced NumPy</a></td></tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://jni.github.io/git-tutorial/">Contributing to open source with git and github</a></td></tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/3_morphological_operations.ipynb">Morphology</a></td></tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://github.com/jni/jax-workshop/blob/8b73dcd8f24cf50fa0997e30f73e78d3f40cb45f/lectures/adv5-pores.ipynb">Advanced workflow example</a></td></tr>
      <tr> <td>15:45</td>  <td>using scikit-image master, Q&A</td> </tr>
      <tr> <td>16:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:25</td>  <td><a href="https://www.surveymonkey.com/r/scikit-image-post">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
